.login-center {
  margin: 0;
  position: absolute;
  top: 45%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 400px;
  padding: 10px 25px 40px 25px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

@media (max-width: 575.98px) {
  .login-center {
    width: 80%;
  }
}

.login-box {
  color: white;
  border-radius: 5px;
}

.login-logo {
  background: url("/assets/logo.png") center center no-repeat;
  height: 16px;
  width: 100%;
  margin: auto;
  padding: 50px;
}

.login-btn {
  margin-top: 15px;
  width: 100%;
  font-size: 18px;
  background-color: #6e27c5 !important;
}
