<div class="login-center">
  <div class="login-logo"></div>
  <div class="login-box">
    <label for="username">Username</label>
    <div class="input-group mb-3">
      <input required type="text" [(ngModel)]="username" class="form-control" id="username" />
    </div>
    <label for="password">Password</label>
    <div class="input-group mb-3">
      <input required type="password" class="form-control" id="password" />
    </div>
    <button class="btn btn-dark login-btn" (click)="login()">Log In</button>
  </div>
</div>
