<div class="page-body">
  <div class="widget-container">
    <div class="widget-header mb-4">
      <h1>Manage Branches</h1>
    </div>
    <button
      class="btn btn-sm btn-purple-inverse mb-4"
      (click)="navigateToCreateBranch()"
    >
      <fa name="plus"></fa> Create Branch
    </button>
    <div class="widget-body">
      <div class="card-container">
        <div
          *ngFor="let branch of branches"
          (click)="navigateToBranchDetailsPage(branch.id)"
          class="card"
          tabindex="0"
        >
          <div class="card-header d-flex">
            <span class="card-header-item-container">
              <span class="card-header-item d-flex col-12 col-md-4">
                {{ branch.name }}
              </span>
              <span class="card-header-item d-md-flex col-md-8">
                {{ branch.address }}
              </span>
            </span>
            <span class="card-header-collapse-icon">
              <!-- <fa name="trash" (click)="deleteBranch($event, branch.id)"></fa> -->
              <fa name="angle-right"></fa>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
