<div class="page">
  <div class="container">
    <h1>Search Contacts</h1>

    <label for="branch">Select a branch</label>
    <div class="input-group mb-3">
      <select class="custom-select" id="branch">
        <option selected disabled>Choose...</option>
        <option value="1">Branch 1</option>
        <option value="2">Branch 2</option>
        <option value="3">Branch 3</option>
      </select>
    </div>

    <label for="product">Filter By Product</label>
    <div class="input-group mb-3">
      <select class="custom-select" id="product">
        <option selected>All Products</option>
        <option value="1">Product 1</option>
        <option value="2">Product 2</option>
        <option value="3">Product 3</option>
      </select>
    </div>

    <h2 class="mt-5 mb-4">Contacts List</h2>
    <div id="accordion">
      <div class="card" *ngFor="let contact of contacts; index as i">
        <div
          class="card-header d-flex"
          data-toggle="collapse"
          [attr.data-target]="getTarget(contact.id)"
        >
          <span class="card-header-item-container">
            <span class="card-header-item"> {{contact.firstName}} {{contact.lastName}} </span>
            <span class="card-header-item"> {{contact.emailAddress}} </span>
            <span class="card-header-item"> {{contact.phoneNumber}} </span>
            <span class="card-header-item">
              <span *ngFor="let product of contact.products"> {{product.name}} </span>
            </span>
          </span>
          <span class="card-header-collapse-icon">
            <fa name="angle-down"></fa>
          </span>
        </div>
        <div id="{{contact.id}}" class="collapse" data-parent="#accordion">
          <div class="card-body">
            <div class="card-body-item">
              <fa class="card-body-icon" name="phone"></fa>
              <span> {{contact.phoneNumber}} </span>
            </div>
            <div class="card-body-item">
              <fa class="card-body-icon" name="envelope"></fa>
              <span> {{contact.emailAddress}} </span>
            </div>
            <div class="card-body-item">
              <fa class="card-body-icon" name="bookmark"></fa>
              <span> Products </span>
              <div class="d-flex flex-wrap product-container">
                    <div class="product-item" *ngFor="let product of contact.products"> {{product.name}} </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
