.logo {
  background: url("/assets/logo.png") center center no-repeat;
  height: 16px;
  width: 200px;
  margin: auto;
  padding: 30px;
}

.nav-link {
    font-size: 20px;
}

.navbar {
    background-color: #6e27c5 !important;
}