<nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 1">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggle"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
 <a href="https://www.chubb.com"><div class="logo"></div></a>

  <div class="collapse navbar-collapse" id="navbarToggle" *ngIf="isLoggedIn">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
            <a class="nav-link" routerLink="/search"> Search Contacts </a>
          </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/branches"> Manage Branches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-contact"> Create Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/create-product"> Create Product</a>
      </li>
    </ul>
    <div class="nav-user-data"> Hello, {{username}}</div>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()">
        Log Out
      </button>
    </div>
  </div>

  <div class="collapse navbar-collapse" id="navbarToggle" *ngIf="!isLoggedIn">    
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0"> </ul>      
      <div class="form-inline my-2 my-lg-0">
        <button class="btn btn-outline-light my-2 my-sm-0" (click)="navigateToLogInPage()">
          Log In
        </button>
      </div>
    </div>

</nav>

<!-- 
  <ng-container *ngIf="showProgressBar">
    <mat-progress-bar
        class="example-margin"
        [color]="color"
        [mode]="mode"
        [value]="value"
        [bufferValue]="bufferValue">
    </mat-progress-bar>
</ng-container> -->

<div class="page-bg"></div>
<div class="page-container">
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
  
<footer></footer>
