<nav class="navbar navbar-expand-lg navbar-dark" style="z-index: 1">
  <button
    *ngIf="isLoggedIn"
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggle"
    aria-controls="navbarTogglerDemo03"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo"></div>

  <div class="collapse navbar-collapse" id="navbarToggle" *ngIf="isLoggedIn">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/branches">Branches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-light my-2 my-sm-0" (click)="logout()">
        Log Out
      </button>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>

<footer></footer>
