.logo {
  background: url("/assets/logo.png") center center no-repeat;
  height: 16px;
  width: 200px;
  margin: auto;
  padding: 30px;
}

.nav-link {
  font-size: 17px;
  color: white !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
}

.nav-link:hover,
.nav-link:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.navbar {
  background-color: #6e27c5 !important;
}

.nav-user-data {
  color: white;
  font-weight: bold;
  margin: 15px 0;
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .nav-user-data {
    margin: 0 15px;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}
