<nav class="navbar navbar-expand navbar-dark px-4 flex-column flex-md-row">
  <ul class="navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link" routerLink="branches">Branches</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="products">Products</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="contacts">Contacts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="search">Search</a>
    </li>
  </ul>
</nav>
<div class="container p-3 d-flex h-100 bg-light">
  <router-outlet></router-outlet>
</div>