<div class="page-body">
  <a *ngIf="branchId" [routerLink]="getBranchRoute()"
    >Return to Branch Details...</a
  >

  <h1 class="mb-4">Create Contact</h1>

  <div class="row">
    <div class="col-md-6">
      <label for="firstName">First Name</label>
      <div class="input-group mb-3">
        <input
          class="form-control"
          type="text"
          id="firstName"
          [(ngModel)]="firstName"
          placeholder="e.g. Agent"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label for="lastName">Last Name</label>
      <div class="input-group mb-3">
        <input
          class="form-control"
          type="text"
          id="lastName"
          [(ngModel)]="lastName"
          placeholder="e.g. Smith"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <label for="contactType">Type</label>
      <div class="input-group mb-3">
        <select
          class="custom-select"
          id="contactType"
          [(ngModel)]="contactType"
        >
          <option selected disabled [value]="undefined">Choose One...</option>
          <option>Marketing Rep</option>
          <option>Underwriter</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <label for="phoneNumber"> Phone Number</label>
      <div class="input-group mb-3">
        <input
          class="form-control"
          type="tel"
          id="phoneNumber"
          [(ngModel)]="phoneNumber"
          placeholder="123-456-7890"
        />
      </div>
    </div>
    <div class="col-md-6">
      <label for="emailAddress">
        Email Address</label
      >
      <div class="input-group mb-3">
        <input
          class="form-control"
          type="email"
          id="emailAddress"
          [(ngModel)]="emailAddress"
          placeholder="chubbAcc1@test.com"
        />
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <label for="branchName">Branch Name</label>
      <div class="input-group mb-3">
        <input
          disabled
          class="form-control"
          type="text"
          id="branchName"
          [(ngModel)]="branchName"
        />
      </div>
    </div>
  </div>

  <div class="row mt-3 mb-3">
    <div class="col-12">
      <label for="branchProducts">Select the products that apply...</label>
    </div>
    <div class="col-12">
      <select
        *ngIf="availableProducts.length"
        multiple
        [size]="availableProducts.length > 6 ? 6 : availableProducts.length"
        [(ngModel)]="selectedProducts"
      >
        <option *ngFor="let product of availableProducts" [value]="product.id">
          {{ product.name }}
        </option>
      </select>
    </div>
  </div>

  <button class="btn btn-dark btn-purple mt-3" (click)="onCreateContact()">
    Create Contact
  </button>
</div>
