<div class="page-body">
  <a routerLink="/branches">Return to Manage Branches...</a>
  <h1 class="mb-4">Branch Details Page</h1>
  <div *ngIf="branchId && branch">
    <div class="details-container">
      <span class="details-label"> Branch Name </span>
      <span class="details-text"> {{ branch.name }} </span>
    </div>
    <div class="details-container">
      <span class="details-label"> Branch Address </span>
      <span class="details-text"> {{ branch.address }} </span>
    </div>

    <h2 class="mt-5 mb-3">Manage Contacts</h2>

    <button
      class="btn btn-purple-inverse btn-sm mb-4"
      (click)="navigateToCreateContactPage()"
    >
      <fa name="plus"></fa> Create New Contact
    </button>


    <div>
      <ng-container *ngFor="let contact of contacts" >
        <div *ngIf="contact.name !== null" (click)="navigateToContactDetailsPage(contact.id)" class="card" tabindex="0">
          <div class="card-header d-flex">
            <span class="card-header-item-container">
              <span class="card-header-item d-flex col-12 col-md-6">
                {{ contact.name }}
              </span>
              <span class="card-header-item d-md-flex col-md-6">
                {{ contact.type }}
              </span>
            </span>
            <span class="card-header-collapse-icon">
              <fa name="trash" (click)="deleteContact($event, contact)"></fa>
              <fa name="angle-right"></fa>
            </span>
          </div>
        </div>
    </ng-container>
    </div>
  </div>
</div>
