<div class="page-body">
  <h1 class="mb-4">Create Branch</h1>

  <label for="branchName">Branch Name</label>
  <div class="input-group mb-3">
    <input class="form-control" type="text" id="branchName" [(ngModel)]="branchName" placeholder="e.g. Atlanta" />
  </div>

  <label for="branchAddress">Branch Address</label>
  <div class="input-group mb-3">
    <input class="form-control" type="text" id="branchAddress" [(ngModel)]="branchAddress" placeholder="e.g. 10 Broad Street, Atlanta, GA, 12345" />
  </div>

  <button class="btn btn-dark btn-purple mt-3" (click)="onCreateBranch()">Create Branch</button>
</div>
