/* You can add global styles to this file, and also import other style files */
@import "bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "PublicoText-Roman";
}

.page {
    background-color: rgba(246,247,247, 0.8);
    min-height: 90vh;
    padding: 40px 0;
}

// nav.navbar {
//   background: linear-gradient(135deg, #0143a3, #0273d4);
// }
