/* You can add global styles to this file, and also import other style files */
@import "bootstrap.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  font-family: "PublicoText-Roman";
}
.page {
  background-color: rgb(246, 247, 247);
  min-height: 90vh;
  padding: 40px 0;
}

.card {
    border: 1px solid #6e27c5 !important;
}

.card-header {
    background-color: #6e27c5 !important;
    color: white;
    border-color: #6e27c5 !important
}

.page-bg {
  background-image: url("/assets/login-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: fixed;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}

.page-container {
  min-height: calc(100vh - 135px);
  padding: 50px 0;
}

.page-body {
    background: rgb(246, 247, 247);
    padding: 25px;
    border-radius: 5px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

// nav.navbar {
//   background: linear-gradient(135deg, #0143a3, #0273d4);
// }
